@import 'variables.scss';

:host {
    height: auto;
    background-color: map-get($map: $color-grey, $key: '01dp');
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px
}

.btn-backTo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;

    span:hover {
        color: map-get($map: $color-text, $key: 'high');
        text-decoration: underline;
    }
}

.group {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    .image-default {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: inherit;
        width: 160px;
        border-radius: 5px;
        aspect-ratio: 1 / 1;
        background-color: map-get($map: $color-grey, $key: '02dp');

        i {
            font-size: 4rem;
            color: map-get($map: $color-grey, $key: '24dp');
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
            font-weight: 700;
            font-size: 4vw;
            color: map-get($map: $color-text, $key: 'high');
        }

        .description {
            display: flex;
            align-items: center;
            
            .owner-profile {
                font-weight: 700;
                font-size: 16px;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 5px;

                .name:hover {
                    text-decoration: underline;
                }
            }

            > :nth-child(n+2)::before {
                 background-color: map-get($map: $color-text, $key: 'high');
                content: '';
                width: 5px;
                aspect-ratio: 1 / 1;
                display: inline-block;
                border-radius: 50%;
                vertical-align: middle;

                margin: 0 10px;
            }
        }
    }
}