<div class="list-card">
    <h2 class="title">Gerar a partir de outras playlists:</h2>
    <div class="list-card__items">
        <app-preview-card *ngFor="let item of collections" [id]="item.id" [image]="item.image"
            [title]="item.title" [description]="item.description" [collectionType]="collectionType" [isDelete]="true">
        </app-preview-card>
        <div class="add-playlist" (click)="onOpenDialog()">
            <i class="material-icons add-playlist__icon">add</i>
            <span class="add-playlist__description">Adicionar playlist</span>
        </div>
    </div>
</div>

<ng-container *ngIf="collections.length > 0">
    <div class="date-selection">
        <div>
            <h2 class="title">Filtrar por ano de lançamento:</h2>
            <p>*Se nenhum ano de lançamento for selecionado, a nova playlist terá todas as músicas </p>
        </div>
        <div class="date-selection__list">
            <ng-container *ngFor="let item of releaseDates, let i = index">
                <input type="checkbox" id="yearCheckbox-{{i}}" class="date-selection__item" #input
                    (click)="onYearSelected(item, input.checked)" />
                <label for="yearCheckbox-{{i}}" class="date-selection__label" #releaseYear>{{item}}</label>
            </ng-container>
        </div>
    </div>

    <form class="form" action="" [formGroup]="formGroup" (ngSubmit)="onNewPlaylist()">
        <input class="form__name-playlist" type="text" placeholder="Nome da playlist" formControlName="playlistName">
        <input class="form__submit" type="submit" value="Gerar nova playlist">
    </form>
</ng-container>