<table>
    <thead>
        <tr>
            <th class="number">#</th>
            <th>Título</th>
            <th>Álbum</th>
            <th class="added-at">Adicionado em</th>
            <th></th>
            <th class="duration">
                <i class="material-icons">access_time</i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let track of tracks, let i = index">
            <td class="number"><span>{{i + 1}}</span></td>
            <td class="title">
                <img class="image" src="{{ track.track.album.images[1]?.url || track.track.album.images[0]?.url }}"
                    alt="">
                <div class="aa">
                    <span class="music-title">{{track.track.name}}</span>
                    <br>
                    <span class="artist">{{track.track.artists[0].name}}</span>
                </div>
            </td>
            <td class="album"><span>{{ track.track.album.name }}</span></td>
            <td class="added-at"><span>{{ track.added_at | date:"d MMM. 'de' y" }}</span></td>
            <td class="favorite">
                <i class="material-icons">favorite</i>
            </td>
            <td class="duration"><span>{{ track.track.duration_ms }}</span></td>
        </tr>
    </tbody>
</table>