<table>
    <thead>
        <tr>
            <th class="number">#</th>
            <th>Título</th>
            <th>Álbum</th>
            <th class="added-at">Adicionado em</th>
            <th></th>
            <th class="duration">
                <i class="material-icons">access_time</i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let track of tracks, let i = index">
            <td class="number"><span>{{i + 1}}</span></td>
            <td class="title">
                <img class="image" src="{{ track.track.album.images[1]?.url || track.track.album.images[0]?.url }}"
                    alt="">
                <div class="names">
                    <span class="music-title">{{track.track.name}}</span>
                    <br>
                    <ng-container *ngFor="let artist of getAllArtists(track.track.artists)">
                        <span class="artist-name" [routerLink]="['/artist', artist.id]">{{artist.name}}</span>
                    </ng-container>
                </div>
            </td>
            <td class="album"><span class="album-name" [routerLink]="['/album', track.track.album.id]"
                    routerLinkActive="router-link-active">{{ track.track.album.name }}</span></td>
            <td class="added-at"><span>{{ track.added_at | date:"d MMM. 'de' y" }}</span></td>
            <td class="favorite">
                <i class="material-icons">favorite</i>
            </td>
            <td class="duration"><span>{{ track.track.duration_ms | date:'mm:ss' }}</span></td>
        </tr>
    </tbody>
</table>