$color-bg-navigation: #000000;

$color-grey: (
    '00dp': #121212,
    '01dp': #1E1E1E,
    '02dp': #2A2A2A,
    '03dp': #363636,
    '04dp': #414141,
    '06dp': #4D4D4D,
    '08dp': #595959,
    '12dp': #656565,
    '16dp': #717171,
    '24dp': #7D7D7D,
);

$color-text: (
    'light': #FFFFFF,
    'high': #ffffffde,
    'medium': #ffffff99,
    'disabled': #ffffff61,
);