<header>
    <a class="btn-backTo" (click)="onBack()">
        <i class="material-icons">arrow_back_ios</i>
        <span>voltar</span>
    </a>

    <div class="group">
        <ng-container *ngIf="album?.images">
            <img src="{{album.images[1]?.url || album.images[0].url}}" alt="" width="175">
        </ng-container>
        <ng-container *ngIf="!album">
            <div class="image-default">
                <i class="material-icons">music_note</i>
            </div>
        </ng-container>
        <div class="info">
            <h2 class="title">{{album.name}}</h2>
            <div class="description">
                <span>{{album.release_date | date:"d MMM. 'de' y"}}</span>
                <span>{{album.total_tracks}} músicas</span>
            </div>
        </div>
    </div>
</header>

<app-music-table [tracks]="tracks"></app-music-table>