<div class="search">
    <i class="material-icons">search</i>
    <input class="search__query" #queryInput type="text" placeholder="Buscar por música, álbum ou artista"
        (keyup)="onSearch(queryInput.value.trim())">
</div>

<table class="table" *ngIf="showTracks.length > 0; else notfound" matSort (matSortChange)="sortData($event)">
    <thead>
        <tr class="header-row">
            <th class="header-row--end">#</th>
            <th mat-sort-header="song">Título</th>
            <th mat-sort-header="album">Álbum</th>
            <th mat-sort-header="date">{{dateColumnName}}</th> 
            <th mat-sort-header="time" class="header-row--end"><i class="material-icons">access_time</i></th>
        </tr>
    </thead>
    <tbody>
        <tr class="body-row" *ngFor="let track of showTracks, let i = index">
            <td class="body-row--end"><span>{{i + 1}}</span></td>
            <td class="body-row__col-title">
                <img (click)="onPlayTrack(track)" class="col-title__image" src="{{ track.album.images[1]?.url || track.album.images[0]?.url }}" alt="">
                <div class="col-title__description">
                    <span class="col-title__name-song">{{track.name}}</span>
                    <br>
                    <ng-container *ngFor="let artist of getAllArtists(track)">
                        <span class="col-title__artist-name" [routerLink]="['/panel/artist', artist.id]">{{artist.name}}</span>
                    </ng-container>
                </div>
            </td>
            <td class="album"><span class="col-title__album-name" [routerLink]="['/panel/album', track.album.id]">{{ track.album.name }}</span></td>
            <td class="added-at"><span>{{ track.played_at || track.added_at || track.album.release_date | date:"d MMM. 'de' y" }}</span></td>
            <td class="body-row--end"><span>{{ track.duration_ms | date:'mm:ss' }}</span></td>
        </tr>
    </tbody>
</table>

<ng-template #notfound>
    Nenhum resultado encontrado.
</ng-template>