<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Título</th>
            <th>Álbum</th>
            <th>Adicionado em</th>
            <th></th>
            <th>
                <i class="material-icons">access_time</i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 999]">
            <td>{{ item }}</td>
            <td>
                <i class="material-icons">image</i>
                <div class="title-info">
                    <span class="music-title">Lorem Ipsum</span>
                    <span class="music-artist">Lorem ipsum dolor sit amet</span>
                </div>
            </td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>1 jan. de 1970</td>
            <td>
                <i class="material-icons">favorite</i>
            </td>
            <td>3:00</td>
        </tr>
    </tbody>
</table>
