@import 'variables.scss';

:host {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 60px;
    padding: 30px;
    box-sizing: border-box;
}

.search {
    display: flex;
    align-items: center;
    background-color: map-get($map: $color-grey, $key: '02dp');
    border-radius: 6px;
    width: 400px;
    gap: 10px;
    padding: 0 10px;
    height: min-content;

    &__icon {
        color: map-get($map: $color-text, $key: 'medium');
    }

    &__query {
        color: map-get($map: $color-text, $key: 'high');
        border: none;
        padding: 15px 0;
        font-size: 1rem;
        background-color: inherit;
        width: 100%;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: map-get($map: $color-text, $key: 'medium');
        }
    }
}

.list-card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
        font-weight: 700;
        font-size: 1.5rem;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
        gap: 20px;
    }
}

::ng-deep.mat-dialog-container {
    background-color: map-get($color-grey, '00dp');

    &::-webkit-scrollbar-thumb {
        background-color: map-get($map: $color-grey, $key: '06dp');
        border: 5px solid map-get($map: $color-grey, $key: '00dp');
    }

    &::-webkit-scrollbar {
        width: 25px;
    }
}