<div class="list-card">
    <div class="list-card__top">
        <h2 class="list-card__title">{{title}}</h2>
        <a class="list-card__ver-mais">Ver mais</a>
    </div>
    <div class="list-card__items">
        <ng-container *ngIf="collectionType !== 'artists'">
            <app-card 
            *ngFor="let item of collection"
            [id]="item.id"
            [image]="item.images[1]?.url || item.images[0]?.url"
            [description]="item.owner?.display_name || item.artists[0]?.name"
            [title]="item.name"
            >
            </app-card>
        </ng-container>
        <ng-container *ngIf="collectionType === 'artists'">
            <app-card 
            *ngFor="let item of collection"
            [id]="item.id"
            [image]="item.images[1]?.url || item.images[0]?.url"
            [description]="'Artista'"
            [title]="item.name"
            >
            </app-card>
        </ng-container>
    </div>
</div>
