<table>
    <thead>
        <tr>
            <th class="number">#</th>
            <th>Título</th>
            <th class="duration">
                <i class="material-icons">access_time</i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let track of tracks, let i = index">
            <td class="number"><span>{{i + 1}}</span></td>

            <td class="title">
                <div class="names">
                    <span class="music-title">{{track.name}}</span>
                    <br>
                    <ng-container *ngFor="let artist of getAllArtists(track.artists)">
                        <span class="artist-name" [routerLink]="['/panel/artist', artist.id]">{{artist.name}}</span>
                    </ng-container>
                </div>
            </td>
            <td class="duration"><span>{{ track.duration_ms | date:'mm:ss' }}</span></td>
        </tr>
    </tbody>
</table>