<a class="btn-voltar" href="#">
    <i class="material-icons">arrow_back_ios</i>
    voltar
</a>

<div class="group">
    <div class="image-default">
        <i class="material-icons">music_note</i>
    </div>
    <div class="info">
        <h2 class="title">Lista de Reprodução</h2>
        <div class="description">
            <a class="owner-profile" href="/playlist">
                <i class="material-icons">account_circle</i>
                <span class="name">Nome do Usuário</span>
            </a>
            <span>99 músicas</span>
            <span>59 min 40s</span>
        </div>
    </div>
</div>