:host {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.section {

    &__title {
        font-weight: 700;
        font-size: 1.5rem;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
        gap: 20px;
    }
}