@import 'variables.scss';

:host {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 100vh / 250px 1fr;
}

.main-content {
    box-sizing: border-box;
    background-color: map-get($map: $color-grey, $key: '00dp');
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
        background-color: map-get($map: $color-grey, $key: '06dp');
        // border-radius: 20px;
        border: 5px solid map-get($map: $color-grey, $key: '00dp');
    }

    &::-webkit-scrollbar {
        width: 25px;
    }
}