@import 'variables.scss';

:host {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas: "navigation main-content" 
                         "player-track player-track";
    grid-template: 1fr auto / auto 1fr;
}

.navigation {
    grid-area: "navigation";
}

.main-content {
    grid-area: "main-content";

    box-sizing: border-box;
    background-color: map-get($map: $color-grey, $key: '00dp');
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
        background-color: map-get($map: $color-grey, $key: '06dp');
        // border-radius: 20px;
        border: 5px solid map-get($map: $color-grey, $key: '00dp');
    }

    &::-webkit-scrollbar {
        width: 25px;
    }
}

.player-track {
    grid-area: "player-track";
    grid-column: span 2;
}