<div class="container">
  <h1 class="title">Gerenciador Spotify</h1>
  <div class="menu">
    <ng-container *ngFor="let items of menu">
      <app-item-navigation
        [icon]="items.icon"
        [name]="items.name"
        [link]="items.link"
      ></app-item-navigation>
    </ng-container>
    <div class="user-profile" (click)="onLogout()">
      <ng-container *ngIf="userProfile">
        <img [src]="userProfile.images[0].url" alt="" />
        <span class="username">{{ userProfile.display_name }}</span>
      </ng-container>
      <i class="material-icons">logout</i>
    </div>
  </div>
</div>
