@import 'variables.scss';

.container {
    background-color: $color-bg-navigation;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    // &::-webkit-scrollbar-track {
    //     // background: map-get($map: $color-grey, $key: '06dp');
    // }

    &::-webkit-scrollbar-thumb {
        background-color: map-get($map: $color-grey, $key: '02dp');
        border-radius: 20px;
        // border: 2px solid map-get($map: $color-grey, $key: '06dp');
    }
}

.title {
    font-size: 2rem;
    font-weight: 500;
}

.user-profile {
    margin-top: 50px;
    padding: 10px;
    border-top: 1px solid map-get($map: $color-grey, $key: '02dp');
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    * {
        color: map-get($map: $color-text, $key: 'medium');
    }

    &:hover {
        background-color: map-get($map: $color-grey, $key: '02dp');

        * {
            color: map-get($map: $color-text, $key: 'high');
        }

        img {
            border: 2px solid map-get($map: $color-text, $key: 'high');
        }
    }
}

ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: 0;
}

img {
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid map-get($map: $color-text, $key: 'disabled');
}

i.material-icons {
    margin-left: auto;

}