<table>
    <thead>
        <tr>
            <th class="number">#</th>
            <th>Título</th>
            <th>Álbum</th>
            <th class="duration">
                <i class="material-icons">access_time</i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let track of tracks, let i = index">
            <td class="number"><span>{{i + 1}}</span></td>

            <td class="title">
                <img class="image" src="{{ track.album.images[1]?.url || track.album.images[0]?.url }}" alt="">
                <div class="names">
                    <span class="music-title">{{track.name}}</span>
                </div>
            </td>
            <td class="album"><span class="album-name" [routerLink]="['/album', track.album.id]"
                routerLinkActive="router-link-active">{{ track.album.name }}</span></td>
            <td class="duration"><span>{{ track.duration_ms | date:'mm:ss' }}</span></td>
        </tr>
    </tbody>
</table>