<div class="card">
    <div class="header">
        <ng-container *ngIf="image" >
            <img src="{{ image }}" alt="" width="175">
        </ng-container>
        <ng-container *ngIf="!image">
            <div class="image-default">
                <i class="material-icons">music_note</i>
            </div>
        </ng-container>
    </div>
    <div class="body">
        <div class="title">
            {{ name }}
        </div>
        <div class="description">
            De {{ owner }}
        </div>
    </div>
</div>