<div class="container">
  <div class="likes-songs" (click)="onUserSavedTracks()">
    <div class="title">Músicas Curtidas</div>
    <div class="description">{{numberSavedTracks}} músicas curtidas</div>
  </div>

  <ng-container *ngFor="let playlist of playlists">
    <app-music-card
      [name]="playlist.name"
      [image]="playlist.images[1]?.url || playlist.images[0]?.url"
      [owner]="playlist.owner.display_name"
      [id]="playlist.id"
    >
    </app-music-card>
  </ng-container>
</div>
