<div class="search">
    <i class="material-icons">search</i>
    <input #queryInput type="text" placeholder="Buscar por lorem ou ipsum" (keyup)="onSearch(queryInput.value.trim())">
</div>

<ng-container *ngIf="queryInput.value.trim().length === 0">
    <app-list-categories title="Categorias" [categories]="categories"></app-list-categories>
</ng-container>

<ng-container *ngIf="queryInput.value.trim().length > 0">
    <app-list-card [title]="'Playlists'" [collection]="dataSearch.playlists.items" [collectionType]="'playlist'"></app-list-card>
    <app-list-card [title]="'Álbuns'" [collection]="dataSearch.albums.items" [collectionType]="'album'"></app-list-card>
    <app-list-card [title]="'Artistas'" [collection]="dataSearch.artists.items" [collectionType]="'artist'"></app-list-card>
</ng-container>