<div class="search">
    <i class="material-icons">search</i>
    <input #queryInput type="text" placeholder="Buscar por música, playlist, álbum ou artista" (keyup)="onSearch(queryInput.value.trim())">
</div>

<ng-container *ngIf="queryInput.value.trim().length === 0">
    <app-list-categories title="Categorias" [categories]="categories"></app-list-categories>
</ng-container>

<ng-container *ngIf="queryInput.value.trim().length > 0">
    <app-music-table [tracks]="dataSearch.tracks.items" [dateColumnName]="'Lançado em'" [noSearch]="true"></app-music-table>
    <div class="section">
        <h2 class="section__title">Playlists</h2>
        <div class="section__items">
            <app-card *ngFor="let item of dataSearch.playlists.items" [id]="item.id" [image]="item.images[0].url"
                [description]="item.owner.display_name" [title]="item.name" [collectionType]="'playlist'">
            </app-card>
        </div>
    </div>
    <div class="section">
        <h2 class="section__title">Álbuns</h2>
        <div class="section__items">
            <app-card *ngFor="let item of dataSearch.albums.items" [id]="item.id" [image]="item.images[0].url"
                [description]="item.artists[0].name" [title]="item.name" [collectionType]="'album'">
            </app-card>
        </div>
    </div>
    <div class="section">
        <h2 class="section__title">Artistas</h2>
        <div class="section__items">
            <app-card *ngFor="let item of dataSearch.artists.items" [id]="item.id" [image]="item.images[1].url || item.images[0].url"
                [description]="'Artista'" [title]="item.name" [collectionType]="'artist'">
            </app-card>
        </div>
    </div>
</ng-container>