<div class="list-card">
  <div class="top">
    <h2 class="list-title">{{ title }}</h2>
    <a href="#">Ver mais</a>
  </div>

  <div class="items">
    <ng-container *ngFor="let playlist of playlists?.items">
      <app-music-card
        [name]="playlist.name"
        [image]="playlist.images[1]?.url || playlist.images[0]?.url"
        [owner]="playlist?.owner?.display_name || playlist?.artists[0]?.name"
        [id]="playlist.id"
      >
      </app-music-card>
    </ng-container>
  </div>
</div>
