@import 'variables.scss';

* {
    font-size: 0.875rem;
    font-weight: 400;
    color: map-get($map: $color-text, $key: 'medium');
}

i {
    font-size: 1.5rem;
}

table {
    width: 100%;

    thead tr {
        border-bottom: 1px solid map-get($map: $color-grey, $key: '02dp');
        text-transform: uppercase;
    }

    tr {
        display: grid;
        // 60px - coluna favorito
        grid-template-columns: 30px repeat(2, 1fr) .75fr 58px;
        align-items: center;
        justify-items: flex-start;
        padding: 10px 15px;
        gap: 30px;
    }

    tbody tr:hover {
        background-color: map-get($map: $color-grey, $key: '02dp');
    }
}

.number,
.duration {
    justify-self: flex-end;
    text-align: end;
}

td.favorite {
    justify-self: center;
    text-align: center;
}

td,
.names {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    display: flex;
    gap: 10px;
    width: 100%;

    .image {
        float: left;
        margin-right: 10px;
        width: 40px;
        object-fit: cover;
        background-size: cover;
    }

    .music-title {
        font-size: 16px;
        font-weight: 500;
        color: map-get($map: $color-text, $key: 'high');
    }
}

span:is(.artist-name, .album-name) {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: map-get($map: $color-text, $key: 'high');
    }
}

span.artist-name:not(:last-child)::after {
    content: ', ';
    text-decoration: none;
    color: map-get($map: $color-text, $key: 'medium');
}